<div class="wrapper">
    <div class="content">
        <h1>Stripe Connect </h1>
        <h2>Express Accounts</h2>
        <p>Express enables your platform to manage payout schedules,
            customize the flow of funds, and control branding.
            Stripe will handle onboarding, account management,
            and identity verification for your platform.
            <%= link_to "view integration guide", "https://stripe.com/docs/connect/express-accounts", :target => "_blank" %>
        </p>
        <% if @stripe_id.nil? %>
        <%= button_to stripe_express_path, :id => "stripe-connect-btn" do %>
            Connect with
            <div class="stripe-logo"></div>
        <% end %>
        <% else %>
        <%= button_to "Refresh Demo", destroy_path, :id => "stripe-connect-btn" %>
        <% end %>
    </div>
</div>